#status{
color: #000000;
font-family: Poppins
}
#data{
color: #000000;
font-family: Poppins
}

#documento{
color: #000000;
font-family: Poppins
}

#b2aa5299{
color: #000000;
font-family: Poppins
}

#link-do-documento{
color: #000000;
font-family: Poppins
}

#adicionar-status{
color: #000000;
font-family: Poppins
}

#salvar-entregas{
color: #000000;
font-family: Poppins
}
