

#consultar-entregas{
color: #000000;
font-family: Poppins
}

#procurar-entregas{
color: #000000;
font-family: Poppins
}

.st-emotion-cache-jkfxgf{
color: #000000;
font-family: Poppins
}

#45e8c025{
color: #000000;
font-family: Poppins
}


#lista-de-status{
color: #000000;
font-family: Poppins
}

