
.stAppViewContainer{
background-image: url("https://img.freepik.com/fotos-gratis/sketch-many-bulbs-background_1379-291.jpg?t=st=1732042734~exp=1732046334~hmac=e560312e2f098c93ef6fcfae3f64b7cc8249a9be2c4771a3c967a19ba0b74ff2&w=1380");
background-size: cover;
}

.st-emotion-cache-1rsyhoq{
color: #ffffff;
font-family: Poppins;
font-size: 2000pt
}
