
#consultar-entregas{
color: #ffffff;
font-family: Poppins
}

#procurar-entregas{
color: #ffffff;
font-family: Poppins
}

.st-emotion-cache-jkfxgf{
color: #ffffff;
font-family: Poppins
}

.st-emotion-cache-pgf13w{
color: #ffffff;
font-family: Poppins
}


#lista-de-status{
color: #ffffff;
font-family: Poppins
}

