.st-emotion-cache-12fmjuu{
  margin: 0;
  height: 100vh;
  background: repeating-linear-gradient(
      -60deg,
      transparent,
      transparent 50px,
      #e3e3e3 50px,
      #e3e3e3 100px
    ),
    repeating-linear-gradient(
      60deg,
      transparent,
      transparent 50px,
      #e3e3e3 50px,
      #e3e3e3 100px
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 50px,
      #e3e3e3 50px,
      #e3e3e3 100px
    );
  background-size: 100px 173px; /* Ajusta o tamanho do padrão */
}
#consultar-entregas{
color: #000000;
font-family: Poppins
}

#procurar-entregas{
color: #000000;
font-family: Poppins
}

.st-emotion-cache-jkfxgf{
color: #000000;
font-family: Poppins
}

#45e8c025{
color: #000000;
font-family: Poppins
}


#lista-de-status{
color: #000000;
font-family: Poppins
}

